@model IEnumerable<NStore.Models.EF.NhomDanhMuc>

@foreach (var item in Model)
{
    <li>
        <a class="text-capitalize" href="#!">@item.tenNhomDanhMuc</a>
        <ul>
            @foreach (var catItem in item.DanhMuc)
            {
                <li><a class="text-capitalize" href="@Url.Action("Index", "Product", new { category = catItem.id })">@catItem.tenDanhMuc</a></li>
            }
        </ul>
    </li>
}
